.admin-page-content {
    padding: 50px 0px;

    .chats {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .chat-content {
            width: 100%;
        }
    }

    .admin-panel {
        .function-box {
            padding: 10px 20px;

            .box-title {
                padding: 20px 0;
            }

            .search-box {
                display: flex;
                gap: 12px;
            }
        }
    }
}