.main-page-content {
    font-size: 20px;

    h1 {
        margin: 40px 0;
    }

    h4 {
        margin: 10px 0;
    }

    p {
        margin: 15px 0;
    }

    ul {
        margin: 10px 0;
        padding-inline-start: 40px;

        li {
            margin: 3px 0;
        }
    }
}